<!-- <ngx-ui-loader></ngx-ui-loader> -->
<app-toast></app-toast>
<ng-container *ngIf="isLoggedIn$ | async; then loggedIn; else loggedOut">
</ng-container>
<ng-template #loggedIn>
  <!-- <app-top-bar></app-top-bar>
  <div class="h-100 d-flex">
    <div class="w-25">
      <app-menu></app-menu>
    </div>
    <div class="w-75 vh-100 ps-3">
      <router-outlet></router-outlet>
    </div>
  </div> -->
  <div class="container-fluid p-0">
    <app-top-bar></app-top-bar>
    <div class="d-flex">
      <div class="">
        <app-menu></app-menu>
      </div>
      <div class="p-4 w-100">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #loggedOut>
  <div class="vh-100 w-100 d-flex align-items-center justify-content-center">
    <router-outlet></router-outlet>
  </div>
</ng-template>
