<div class="card p-fluid" [formGroup]="form">
  <div
    class="field"
    *ngFor="let control of formConfig?.formControls"
    [ngSwitch]="control?.controlId"
  >
    <app-input-text
      *ngSwitchCase="formConstants.CTRL_TEXT_BOX_ID"
      [label]="control?.fieldLabel"
      [control]="form.get(control.controlName)"
    ></app-input-text>
    <app-input-password
      *ngSwitchCase="formConstants.CTRL_PASSWORD_ID"
      [label]="control?.fieldLabel"
      [control]="form.get(control.controlName)"
    >
    </app-input-password>
  </div>
  <!-- buttons section -->
  <div>
    <ng-container *ngFor="let action of formConfig?.formActions">
      <ng-container [ngSwitch]="action?.buttonSelector">
        <app-button
          *ngSwitchCase="formConstants?.SELECTOR_BUTTON"
          (onClick)="onClick(action)"
        ></app-button>
      </ng-container>
    </ng-container>
  </div>
</div>
<!-- <app-input-text></app-input-text>
  <app-input-text-area></app-input-text-area>
  <app-input-number></app-input-number>
  <app-input-switch></app-input-switch>
  <app-input-autocomplete></app-input-autocomplete>
  <app-input-date></app-input-date>
  <app-input-date-time></app-input-date-time> -->
