<label class="{{ controlConfig?.labelClass }}">{{
  controlConfig?.fieldLabel
}}</label>
<span class="{{ controlConfig?.spanClass }}">
  <i *ngIf="controlConfig?.showIcon" class="{{ controlConfig?.iconClass }}"></i>
  <p-dropdown
    [formControl]="control"
    class="{{ controlConfig?.fieldClass }}"
    [options]="controlConfig.valuesList"
    optionLabel="{{ controlConfig.dropDownLabel }}"
    optionValue="{{ controlConfig.dropDownValue }}"
    placeholder="{{ controlConfig.placeHolder }}"
  />
</span>
